#navigation-bar {
    user-select: none;
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 90px;

    overflow: hidden;

    z-index: 9999;
}

#navigation-bar.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
}

#navigation-bar .title {
    display: flex;
    width: 350px;
    margin-right: 50px;

    height: 70px;
    align-items: center;
    justify-items: center;
    margin-top: 10px
}

#navigation-bar .logo {
    cursor: pointer;
    
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;

    background-image: url(/public/images/ploggerMin.png);
    background-size: 100% 100%;
    margin: 0px 50px;
    margin-top: 10px;
    
}

#navigation-bar .manu {
    display: flex;

    font-size: 20px;
    font-weight: 400;
    min-width: 630px;
    color: rgba(0, 0, 0, 0.8);
    gap: 150px;
    flex-grow: 0.5;
}

#navigation-bar .manu-recruit:hover,
#navigation-bar .manu-active:hover,
#navigation-bar .manu-qna:hover {
    cursor: pointer;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

#navigation-bar .manu-recruit.active,
#navigation-bar .manu-active.active,
#navigation-bar .manu-qna.active {
    color: rgba(0, 95, 65, 1);
    font-weight: 600;
}

#navigation-bar .input-box {
    width: 300px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}

#navigation-bar .button-box {
    display: flex;
    height: 46px;
    min-width: 260px;
    padding: 0px 50px;
    gap: 15px;
}

#navigation-bar .button {
    border-radius: 6px;
    padding: 10px 30px;

    font-weight: 400;
    line-height: 15px;
    text-align: center;

    color: rgba(255, 255, 255, 1);
}


#navigation-bar .button:hover {
    cursor: pointer;
    background-color: #6b8f5c;
}

#navigation-bar .middle-box {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}

#navigation-bar .error-message {
    font-size: 14px;
    height: 20px;
    margin-top: 5px;
    color: rgba(255, 0, 0, 1);
}
#navigation-bar .primary-message {
    font-size: 14px;
    height: 20px;
    margin-top: 5px;
    color: rgba(0, 95, 65, 1);
}

#navigation-bar .middle-box .button.sign-in {
    margin-top: auto;
}

#navigation-bar .button.sign-in,
#navigation-bar .button.sign-up {
    background-color: #84A264;
    font-size: 20px;
    justify-content: center;
    align-content: center;
}

#navigation-bar .mypage-button-container {
    display: flex;
    margin-right: 30px
}

#navigation-bar .mypage-button {
    cursor: pointer;
    width: 45px;
    height: 45px;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navigation-bar .mypage-alert-button {
    cursor: pointer;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    margin-top: 8px;
}

#navigation-bar .button.logout {
    border: 0.1px solid rgba(221, 114, 114, 0.8);
    font-size: 18px;
    color: rgb(255, 0, 0) !important;
    min-width: 70px;
    justify-content: center;
    align-content: center;
}

#navigation-bar .button.logout:hover {
    background-color: #da3e3e !important;
    color: rgba(255, 255, 255, 1) !important;
}

#navigation-bar .modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 9999;
}

#navigation-bar .modal-input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#navigation-bar .modal-sign-in {
    position: relative;

    box-sizing: border-box;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 24px;
    width: 400px;
    height: 430px;

    background-color: rgba(255, 255, 255, 1);
}

#navigation-bar .modal-top {
    display: flex;
    justify-content: space-between;
}

#navigation-bar .modal-top-title {
    flex: 1;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    
    margin-top: 0px;
}

#navigation-bar .button-close {
    cursor: pointer;
    margin-top: -20px;
    margin-right: -10px;
    font-size: 20px;
    font-weight: 700;
}

#navigation-bar .modal-main {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

#navigation-bar .sign-in-id,
#navigation-bar .sign-in-password {
    display: flex;
    flex-direction: column;
}



    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

#navigation-bar .input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 1;
}

#navigation-bar .modal-main .sign-in {
    margin-top: 20px;
    font-size: 15px;
}

#navigation-bar .sign-text {
    display: flex;

    justify-content: center;

    font-size: 13px;
    font-weight: 600;
    gap: 20px;
    padding-top: 10px;
}

#navigation-bar .find-id,
#navigation-bar .find-password,
#navigation-bar .sign-up {
    cursor: pointer;
}

#navigation-bar .line {
    border-right: 1px solid rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(0, 0, 0, 1);

    padding: 0px 20px;
}

#navigation-bar .modal-bottom {
    margin: 40px;
}

#navigation-bar .sns-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

#navigation-bar .sns-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;

    margin: -20px 10px;
}

#navigation-bar .sns-button.kakao {
    background-image: url(/public/images/kakao-button.png);
}

#navigation-bar .sns-button.naver {
    background-image: url(/public/images/naver-button.png);
}

#navigation-bar .sns-button.google {
    background-image: url(/public/images/google-button.png);
}

#navigation-bar .alert-modal {
    position: fixed;
    top: 80px;
    right: 0;
    padding: 10px;

    box-sizing: border-box;
    width: 350px;
    max-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);

    border-radius: 8px;
    z-index: 99;
    overflow-y: scroll;
}

#navigation-bar .alert-box {
    display: flex;
    gap: 20px;
    width: 230px;
    min-height: 40px;

    font-size: 15px;

    padding: 8px 0px;
    justify-content: center;

}

#navigation-bar .alert-box:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#navigation-bar .alert-box:last-child {
    padding-bottom: 0px;
}

#navigation-bar .alert-text {
    width: 200px;
}

#navigation-bar .alert-close {
    cursor: pointer;
}
