#navigation-bar {
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);

    width: 1;
    height: 60px;

    overflow: hidden;
    min-width: 1000px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.logo {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-image: url(/public/images/ploggerMin.png);
    background-size: 100% 100%;
    margin: 5px 30px;
    
}

.manu {
    display: flex;

    font-size: 25px;
    font-weight: 350;
    color: rgba(0, 0, 0, 0.8);
    gap: 50px;
    flex-grow: 0.7;
}

.manu-recruit:hover,
.manu-active:hover,
.manu-qna:hover {
    cursor: pointer;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.input-box {
    width: 250px;
    height: 25px;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.4);
}

.button-box {
    display: flex;
    padding: 0px 20px;
    gap: 8px;
}

.button {
    border-radius: 6px;
    padding: 10px 20px;

    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;

    color: rgba(255, 255, 255, 1);
}

.button:hover {
    cursor: pointer;
}



.button.sign-in {
    background-color: #84A264;
}

.button.sign-up {
    background-color: #84A264;
}

#navigation-bar .modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    

    background-color: rgba(0, 0, 0, 0.3);
}
#navigation-bar .modal-sign-in {
    position: relative;

    box-sizing: border-box;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 24px;
    width: 400px;
    height: 400px;

    background-color: rgba(255, 255, 255, 1);
}

.modal-top {
    display: flex;
    justify-content: space-between;
}

.modal-top-title {
    flex: 1;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    
    margin-top: -20px;
}

.button-close {
    cursor: pointer;
    margin-top: -20px;
    margin-right: -10px;
    font-size: 20px;
    font-weight: 700;
}

.modal-main {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.sign-in-id,
.sign-in-password {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 13px;
    font-weight: 700;
}

.input {
    width: 1;
    height: 20px;
    font-size: 13px;
}

.modal-main .sign-in {
    margin-top: 20px;
    font-size: 15px;
}

.sign-text {
    display: flex;

    justify-content: center;

    font-size: 13px;
    font-weight: 600;
    gap: 20px;
    padding-top: 10px;
}

.find-id,
.find-password,
.sign-up {
    cursor: pointer;
}

.line {
    border-right: 1px solid rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(0, 0, 0, 1);

    padding: 0px 20px;
}

.modal-bottom {
    margin: 40px;
}

.sns-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.sns-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
    cursor: pointer;

    margin: -10px 10px;
}

.sns-button.kakao {
    background-image: url(/public/images/kakao-button.png);
}

.sns-button.naver {
    background-image: url(/public/images/naver-button.png);
}

.sns-button.google {
    background-image: url(/public/images/google-button.png);
}
