#mypage-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;

}

#mypage-wrapper .mypage {
    user-select: none;
    width: 1134px;
    height: 850px;
    margin: 0 auto;
    margin-top: 90px;
}

#mypage-wrapper .mypage-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#mypage-wrapper .mypage-top {
    display: flex;
    width: 1134px;
    height: 250px;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

#mypage-wrapper .profile-container {
    padding-top: 40px;
    display: flex;
    width: 600px;
    height: 200px;
    gap: 20px;
}

#mypage-wrapper .profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/public/images/ploggerMin.png);
}

#mypage-wrapper .profile-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    margin-left: 10px;

    border-right: 1px solid rgba(180, 180, 180);
    border-right-style: dashed;
    align-content: center;
    justify-content: center;
    gap: 10px;
    justify-items: center;
}

#mypage-wrapper .profile-name-box {
    display: flex;
    gap: 10px
}

#mypage-wrapper .change {
    cursor: pointer;

    width: 20px;
    height: 20px;
    background-image: url(/public/images/cogwheel.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

#mypage-wrapper .profile-name {
    font-size: 20px;
}

#mypage-wrapper .profile-address {
    font-size: 15px;
}

#mypage-wrapper .profile-comment-box {
    display: flex;
    margin-top: 30px;
    align-content: center;
}

#mypage-wrapper .profile-comment-box .comment-input {
    width: 300px;
}

#mypage-wrapper .comment-change {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url(/public/images/pen.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

#mypage-wrapper .profile-comment {
    font-size: 18px;

    width: auto;
    max-width: 300px;

    height: 30px;
    max-height: 100px;

    overflow-wrap: break-word;
}


#mypage-wrapper .score-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin-top: 50px;

    font-size: 30px;
    justify-content: center;
    font-weight: 600;
}

#mypage-wrapper .top-box {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

#mypage-wrapper .follower-box,
#mypage-wrapper .followee-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100px;
    gap: 15px;
}

#mypage-wrapper .follower-name,
#mypage-wrapper .followee-name {
    cursor: pointer;
    border-bottom: 2px solid rgb(180, 180, 180);
    border-radius: 3px;
    font-size: 25px;
}

#mypage-wrapper .follower-score,
#mypage-wrapper .followee-score {
    cursor: pointer;
    font-size: 20px;
}

#mypage-wrapper .bottom-box {
    display: flex;
    width: 320px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    gap: 20px
}

#mypage-wrapper .mileage-box {
    display: flex;
    width: 150px;
    height: 45px;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

#mypage-wrapper .mileage-score {
    font-size: 20px;
    align-content: center;
    height: auto;
    width: 100px;
    overflow: auto;
}

#mypage-wrapper .gift-button {
    cursor: pointer;
    align-content: center;
    height: auto;
    width: 200px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;

    border-radius: 8px;
    border: 0.1px solid rgb(103, 141, 129);
    color: rgba(0, 95, 65, 1);
    background-color: white;
    overflow: auto;
}

#mypage-wrapper .gift-button:hover {
    background-color: rgba(0, 95, 65, 1);
    color: rgba(255, 255, 255, 1);
}

#mypage-wrapper .button-follow {
    user-select: none;
    cursor: pointer;
    height: auto;
    width: 200px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;

    border-radius: 8px;
    border: 0.1px solid rgb(180, 185, 245);
    color: rgb(61, 90, 252);
    overflow: auto;
}

#mypage-wrapper .button-follow:hover {
    background-color: rgb(61, 90, 252) !important;
    color: rgba(255, 255, 255, 1) !important;
}

#mypage-wrapper .button-follow.followed {
    user-select: none;
    cursor: pointer;
    height: auto;
    width: 200px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;

    border-radius: 8px;
    background-color: rgb(61, 90, 252);
    color: rgba(255, 255, 255, 1);
    overflow: auto;
}

#mypage-wrapper .button-followed:hover {
    border: 0.1px solid rgb(180, 185, 245) !important;
    color: rgb(61, 90, 252) !important;
}

#mypage-wrapper .mypage-middle {
    display: flex;
    width: 1134px;
    height: 50px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(180, 180, 180);
    border-bottom: 1px solid rgba(180, 180, 180);
}

#mypage-wrapper .my-recruit,
#mypage-wrapper .my-active,
#mypage-wrapper .my-mileage,
#mypage-wrapper .my-scrap {
    text-align: center;
    flex: 1;
}

#mypage-wrapper .my-point:hover {
    cursor: pointer;
    font-weight: 600;
    border-bottom: 2px solid rgba(180, 180, 180);
}

#mypage-wrapper .my-point.active {
    font-weight: 600;
}

#mypage-wrapper .mypage-bottom {
    width: 1134px;
    height: 500px;
}

#mypage-wrapper .table {
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;

    font-size: 14px;

}

#mypage-wrapper .th {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 700;
}

#mypage-wrapper .tr {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 1px solid #ccc;

}

#mypage-wrapper .follow-table {
    text-align: center;
    margin: 5px 0px;
}

#mypage-wrapper .td-recruit-number,
#mypage-wrapper .td-recruit-isCompleted,
#mypage-wrapper .td-recruit-title,
#mypage-wrapper .td-recruit-writer,
#mypage-wrapper .td-recruit-like-count,
#mypage-wrapper .td-recruit-view-count,
#mypage-wrapper .td-recruit-people,
#mypage-wrapper .td-recruit-end-date,
#mypage-wrapper .td-recruit-create-date,
#mypage-wrapper .td-mileage-id,
#mypage-wrapper .td-mileage-change,
#mypage-wrapper .td-mileage-description,
#mypage-wrapper .td-mileage-date,
#mypage-wrapper .td-mileage-final,
#mypage-wrapper .td-active-number,
#mypage-wrapper .td-active-title,
#mypage-wrapper .td-active-location,
#mypage-wrapper .td-active-view,
#mypage-wrapper .td-active-date,
#mypage-wrapper .td-scrap-number,
#mypage-wrapper .td-scrap-title,
#mypage-wrapper .td-scrap-writer,
#mypage-wrapper .td-scrap-location,
#mypage-wrapper .td-scrap-date {
    padding: 10px 20px;
    font-size: 13px;
    margin: 7px 0px;
}

#mypage-wrapper .td-recruit-title,
#mypage-wrapper .td-active-title {
    max-width: 400px;
}

#mypage-wrapper .td-recruit-number {
    width: 50px;
}

#mypage-wrapper .td-mileage-id,
#mypage-wrapper .td-active-number,
#mypage-wrapper .td-scrap-number {
    width: 50px;
}

#mypage-wrapper .td-mileage-change,
#mypage-wrapper .td-mileage-final,
#mypage-wrapper .td-mileage-date,
#mypage-wrapper .td-scrap-date {
    width: 120px;
}

#mypage-wrapper .td-recruit-title,
#mypage-wrapper .td-active-title,
#mypage-wrapper .td-scrap-title,
#mypage-wrapper .td-mileage-description {
    flex: 1;
    cursor: pointer;
    white-space:nowrap;
    overflow:hidden;  
    text-overflow: ellipsis;
}

#mypage-wrapper .td-recruit-number,
#mypage-wrapper .td-active-number,
#mypage-wrapper .td-scrap-number,
#mypage-wrapper .td-mileage-id {
    flex: 0.1;
}

#mypage-wrapper .td-recruit-isCompleted {
    flex: 0.15;
}


#mypage-wrapper .td-recruit-like-count {
    flex: 0.1;
}

#mypage-wrapper .td-recruit-view-count {
    flex: 0.1;
}

#mypage-wrapper .td-recruit-people {
    flex: 0.15;
}

#mypage-wrapper .td-recruit-end-date #mypage-wrapper .td-active-date,
#mypage-wrapper .td-mileage-date,
#mypage-wrapper .td-scrap-date {
    flex: 0.2;
}

#mypage-wrapper .td-recruit-end-date {
    min-width: 110px;
}

#mypage-wrapper .td-recruit-create-date {
    flex: 0.2;
}

#mypage-wrapper .td-active-location {
    max-width: 300px;
    flex: 0.45;
}

#mypage-wrapper .td-active-view {
    flex: 0.2;
    max-width: 50px;
}

#mypage-wrapper .td-active-date {
    min-width: 80px;
}

#mypage-wrapper .td-mileage-change,
#mypage-wrapper .td-mileage-final {
    flex: 0.15;
}

#mypage-wrapper .td-scrap-writer {
    flex: 0.1;
}

#mypage-wrapper .td-scrap-location {
    flex: 0.5;
    min-width: 280px;
}

#mypage-wrapper .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    gap: 15px;

}

#mypage-wrapper .pagination .active {
    color: black;

    font-weight: bold;

}

#mypage-wrapper .modal {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;


    background-color: rgba(0, 0, 0, 0.3);

    z-index: 9999;
}

#mypage-wrapper .modal .change {
    margin-left: -20px;
}

#mypage-wrapper .modal .button-close {
    cursor: pointer;
    align-content: center;
    height: auto;
    width: 100px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;

    border-radius: 8px;
    border: 0.1px solid rgb(103, 141, 129);
    color: rgba(0, 95, 65, 1);
    background-color: white;
    overflow: auto;
}

#mypage-wrapper .modal .button-close:hover {
    background-color: rgba(0, 95, 65, 1);
    color: rgba(255, 255, 255, 1);
}

.follow-table {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.follow-table .follow-text {
    cursor: pointer;
    margin-top: 10px;
}

.follow-table .profileImage {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-image: url(/public/images/img.png);
    background-position: 50% 50%;
    background-size: cover;

}

/* #mypage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 700px;
    margin-left: 70px;
}

#mypage .top {
    display: flex;
    width: 1500px;
    height: 380px;  
    justify-content: space-between;
    margin-bottom: -80px;
    margin-top: -120px;

}

.profile-container {
    user-select: none;
    width: 800px;
    height: 350px;
    display: flex;
    align-items: center;
}

#mypage .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/public/images/ploggerMin.png);
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;

    width: 300px;
    height: 150px;
    margin-left: 30px;
}

.name-box {
    display: flex;
}

#mypage .name {
    font-size: 40px;

}

#mypage .address {
    font-size: 20px;
}

#mypage .change {
    cursor: pointer;

    width: 25px;
    height: 25px;
    background-image: url(/public/images/cogwheel.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.sentence-box {
    display: flex;
    margin-top: 40px;
}

.sentence {
    width: 270px;
    height: 100px;
    font-size: 20px;
    
    overflow-wrap: break-word;
}

.sentence-box .input {
    width: 230px;
}

.sentence-change {
    cursor: pointer;

    width: 25px;
    height: 25px;
    background-image: url(/public/images/pen.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.activity-container {
    height: 400px;
    width: auto; 
    min-width: 800px;
    user-select: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap:60px;

}

.score-container {
    display: flex;
    font-size: 30px;

    justify-content: center;
    margin-left: 300px;

    font-weight: 600;
    gap: 90px;

}

.aco-box,
.follower-box,
.followee-box {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap:20px
}



#mypage .score {
    font-size: 25px;
    font-weight: normal;
}

#mypage .line {
    border-right: 2px solid rgba(0, 0, 0, 1);
    padding: 0px 90px;
}

.mileage-container {
    display: flex;

    justify-content: end;
    gap: 100px;
}

.mileage-box {
    width: 150px;
    height: 45px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
}

.mileage-button {
    margin-top: 5px;
    user-select: none;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.mileage-score {
    align-content: center;
    height: auto;
    width: 100px;
    font-size: 25px;

    overflow: auto;
}

#mypage .button-mileage {
    user-select: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: 0.1px solid rgb(103, 141, 129);
    font-size: 20px;
    color: rgba(0, 95, 65, 1);
    background-color:white;
    justify-content: center;
    align-content: center;
}
#mypage .button-mileage:hover {
    background-color: rgba(0, 95, 65, 1);
    color: rgba(255, 255, 255, 1);
}

#mypage .button-follow {
    user-select: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: 0.1px solid rgb(180, 185, 245);
    font-size: 20px;
    color: rgb(61, 90, 252);
    justify-content: center;
    align-content: center;
}

#mypage .button-follow:hover {
    background-color: rgb(61, 90, 252) !important;
    color: rgba(255, 255, 255, 1) !important;
}

#mypage .button-follow.followed {
    user-select: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(61, 90, 252);
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-content: center;
}

#mypage .button-followed:hover {
    border: 0.1px solid rgb(180, 185, 245) !important;
    color: rgb(61, 90, 252) !important;
}

#mypage .modal {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 9999;
}

.change-profile {
    position: relative;

    box-sizing: border-box;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 24px;
    width: 500px;
    height: 760px;

    background-color: rgba(255, 255, 255, 1);
}

.change-profile-box {
    display: flex;
    justify-content: center;
}

.change-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/public/images/ploggerMin.png);
}

.modal .change {
    margin-left: -20px;
}

.modal-close {
    cursor: pointer;
    margin-top: -20px;
    margin-left: 450px;
    font-size: 20px;
    font-weight: 700;
}

#mypage .input-area button {
    cursor: pointer;

    background-color: #84A264;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 4px 0px;

}

.change-button {
    width: 1;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #84A264;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}
#mypage .input-area button:hover,
.change-button:hover {
    background-color: #6b8f5c;
}

.mypage-bottom {
    width:auto;
    height: 100px; 
    padding-right: 140px;
}

.table-contents {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 1500px;
    height: 40px;
    border-top: 2px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);

    padding: 5px 0px;

    font-size: 30px;
}

#mypage .mypage-bottom .line {
    border-right: 2px solid rgba(0, 0, 0, 1);
    border-left: 2px solid rgba(0, 0, 0, 1);
    padding: 0px 90px;
}

.line-right {
    border-right: 2px solid rgba(0, 0, 0, 1);
}

.my-recruit,
.my-active,
.my-mileage,
.my-scrap {
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.my-recruit span,
.my-active span,
.my-mileage span,
.my-scrap span {
    cursor: pointer;
}

.my-recruit span:hover,
.my-active span:hover,
.my-mileage span:hover,
.my-scrap span:hover {
    font-weight: 600;
}

.my-recruit span:active,
.my-active span:active,
.my-mileage span:active,
.my-scrap span:active {
    font-weight: 600;
}



.my-recruit,
.my-mileage,
.my-scrap {
    padding: 0px 90px;
}

#recruit-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1134px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

#recruit-post-wrapper .main {
    min-width: 1130px;

}

/* #recruit-post-wrapper .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    z-index: 2;
}

#recruit-post-wrapper .middle.show {
    transform: translateY(0);
}

#recruit-post-wrapper .middle.hidden {
    display: none;
}

#mypage .middle-top {
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-size: 12px;

}

#mypage .middle-top .pages {
    flex: 10;
    text-align: left;
}

#mypage .button {
    cursor: pointer;
    width: 40px;
    height: 25px;
    
    text-align: center;

    border-radius: 7px;
    background-color: #84A264;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-content: center;
}

#mypage .middle-top .post-filter {
    flex: 5;
    justify-content: right;
    margin-right: 15px;
    gap: 5px;
    display: flex;
    flex-direction: row;
}


#mypage .middle-top .post-filter .all {
    font-weight: 600;
}

#mypage .middle-top .post-filter .Recruiting {
    font-weight: 600;
}

#mypage .middle-top .post-filter .Recruited {
    font-weight: 600;
}

#mypage .middle-top .post-filter .all,
#mypage .middle-top .post-filter .Recruiting,
#mypage .middle-top .post-filter .Recruited {
    cursor: pointer;
}

/* 비활성화된 버튼에 대한 스타일 */
/* #mypage .middle-top .post-filter .all:not(.active),
#mypage .middle-top .post-filter .Recruiting:not(.active),
#mypage .middle-top .post-filter .Recruited:not(.active) {
    font-weight: normal;
}

#mypage .middle-top .write-button {
    
    width: 60px;
    height: 25px;
    flex: 1;
    text-align: right;

    border: 1px solid rgba(25, 25, 25, 1);
    background-color: rgba(132, 162, 100, 1);
    text-align: center;
    cursor: pointer;
    line-height: 175%;
} */

/*
.follow-table {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.follow-table .follow-text {
    margin-top: 10px;
}

.follow-table .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-image: url(/public/images/img.png);
    background-position: 50% 50%;
    background-size: cover;

}

#mypage .td-recruit-like-count,
#mypage .td-recruit-view-count,
#mypage .td-active-view {
    width: 60px;
}

#mypage .td-recruit-writer,
#mypage .td-recruit-people,
#mypage .td-recruit-isCompleted
{
    width: 75px;
}

#mypage .td-scrap-writer {
    width: 130px;
}

#mypage .td-active-date,
#mypage .td-recruit-end-date,
#mypage .td-recruit-create-date {
    width: 120px;
}

#mypage .td-active-location,
#mypage .td-scrap-location {
    width: 380px;
}

#mypage .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    gap: 15px;

}

#mypage .pagination .active {
    color: black;

    font-weight: bold;

} */