#qna-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1134px;
    height: 900px;
    overflow: hidden;
    margin: 0 auto;
}

#qna-post-wrapper .main {
    min-width: 1134px;

}


#qna-post-wrapper .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    
}


#qna-post-wrapper .middle-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;

}

#qna-post-wrapper .middle-top .pages {
    flex: 10;
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#qna-post-wrapper .button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    
    text-align: center;
    border: 0.1px solid rgb(103, 141, 129);
    border-radius: 8px;

    font-size: 15px;
    color: rgba(0, 95, 65, 1);
    justify-content: center;
    align-content: center;
    margin-right: 5px;

}

#qna-post-wrapper .button:hover {
    background-color: rgba(0, 95, 65, 1);
    color: rgba(255, 255, 255, 1);
}

#qna-post-wrapper .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}

#qna-post-wrapper .bottom .pagination {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
}

#qna-post-wrapper .bottom .button {
    flex-shrink: 0;
}


#qna-post-wrapper .middle-top .post-filter {
    flex: 5;
    justify-content: right;
    margin-right: 15px;
    gap: 5px;
    display: flex;
    flex-direction: row;
}


#qna-post-wrapper .middle-top .post-filter .all {
    font-weight: 600;
}

#qna-post-wrapper .middle-top .post-filter .notice {
    font-weight: 600;
}

#qna-post-wrapper .middle-top .post-filter .qna {
    font-weight: 600;
}

#qna-post-wrapper .middle-top .post-filter .all,
#qna-post-wrapper .middle-top .post-filter .notice,
#qna-post-wrapper .middle-top .post-filter .qna {
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 10px;
}

/* 비활성화된 버튼에 대한 스타일 */
#qna-post-wrapper .middle-top .post-filter .all:not(.active),
#qna-post-wrapper .middle-top .post-filter .notice:not(.active),
#qna-post-wrapper .middle-top .post-filter .qna:not(.active) {
    font-weight: normal;
}

#qna-post-wrapper .middle-top .write-button {

    width: 60px;
    height: 25px;
    flex: 1;
    text-align: right;

    border: 1px solid rgba(25, 25, 25, 1);
    background-color: rgba(132, 162, 100, 1);
    text-align: center;
    cursor: pointer;
    line-height: 175%;
}

#qna-post-wrapper .table {
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;
    font-size: 14px;

}

#qna-post-wrapper .th {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 700;

}

#qna-post-wrapper .tr {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 13px 0px;

}

#qna-post-wrapper .td-qna-number,
#qna-post-wrapper .td-qna-isCompleted,
#qna-post-wrapper .td-qna-title,
#qna-post-wrapper .td-qna-writer,
#qna-post-wrapper .td-qna-like-count,
#qna-post-wrapper .td-qna-view-count,
#qna-post-wrapper .td-qna-people,
#qna-post-wrapper .td-qna-end-date,
#qna-post-wrapper .td-qna-create-date {
    padding: 10px;

}

#qna-post-wrapper .td-qna-number {
    width: 30px;
}

#qna-post-wrapper .td-qna-isPinned {
    width: 60px;
}

#qna-post-wrapper .td-qna-title {
    flex: 1;
    cursor: pointer;

}

#qna-post-wrapper .td-qna-writer,
#qna-post-wrapper .td-qna-like-count,
#qna-post-wrapper .td-qna-view-count,
#qna-post-wrapper .td-qna-people {
    width: 60px;
}

#qna-post-wrapper .td-qna-end-date,
#qna-post-wrapper .td-qna-create-date {
    width: 80px;
}

