#qna-write-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1134px;
    margin: 0 auto;
    background-color: white;
}

#qna-write-wrapper .navi {
    height: 90px;
}

#qna-write-input-container {
    margin: 50px 0;
    width: 700px;
    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(25, 25, 25, 0.1);
    border-radius: 16px;

}

#qna-write-wrapper .userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

#qna-write-wrapper .userInfo-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#qna-write-wrapper .userInfo-right {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px;


}

#qna-write-wrapper .userInfo-right .listButton {
    width: 90px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

#qna-write-wrapper .pinList {
    display: flex;
    align-items: center;
}

#qna-write-wrapper .pin-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-label input {
    margin-right: 8px;
}

#qna-write-wrapper .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/public/images/img.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;

}

#qna-write-wrapper .userInfo-right .name {
    cursor: pointer;
}

#qna-write-wrapper .title-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#qna-write-wrapper .input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#qna-write-wrapper .input-box .input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 1;
}

#qna-write-wrapper .react-datepicker {
    width: auto;
    height: auto;
}

#qna-write-wrapper .react-datepicker__day {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

#qna-write-wrapper .react-datepicker__header {
    font-size: 28px;
}

#qna-write-wrapper .react-datepicker__day-name {
    font-size: 16px;
}


#qna-write-wrapper .date-picker-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

#qna-write-wrapper .react-datepicker {
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 2;
}

#qna-write-wrapper .input-label {
    color: rgba(64, 64, 64, 1);
    font-size: 16px;
    font-weight: 700;
}

#qna-write-wrapper .textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    resize: none;
}

.tagUser button {
    margin-left: '8px';
    color: 'red';
    cursor: 'pointer';
    border: 'none';
    background: 'none';
    font-weight: 'bold';
}

#qna-write-wrapper .image.preview {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-image: url(/public/images/add_icon.png);

}

.image {
    position: relative;
}

.deleteImageButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#qna-write-wrapper .image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

#qna-write-wrapper .image.uploaded {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

#qna-write-wrapper .location {
    width: 100%;
    height: 300px;
}

#qna-write-wrapper .bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: right;

}