.mypage-update-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage-update-container button {
    background-color: #84A264;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 14px 0px;
    min-width: 105px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 100%;
}

.change-password-button {
    margin-left: 0px !important;
}

.label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.input-area {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.input-area input {
    border: 1px solid #ccc;
    padding: 13px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: column;
}

#profile-image-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-image-container .profile-image-wrapper {
    position: relative;
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#profile-image-container .profile-image-camera {
    background-image: url(/public/images/camera-icon.png);
    position: absolute;
    margin-left: 100px;
    margin-top: 80px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(238, 238, 238, 1);
    background-color: rgba(245, 245, 245, 1);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.input-container .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.button-container button {
    background-color: #84A264;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 13px 0px;
    margin-left: 10px;
    min-width: 105px;
    font-size: 15px;
    box-sizing: border-box;
}

.password-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.password-modal-box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    /* 너비 조정 가능 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.password-modal-cancel-button {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    font-size: 24px;
    color: #666;
}

.password-modal-input-container {
    margin-top: 20px;
}

.password-update-button {
    background-color: #84A264;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-cancel-button {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.modal-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px; 
    margin-top: 16px;
}

.modal-input-container label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

.modal-input-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

.modal-input-container button {
    padding: 13px 0;
    font-size: 14px;
    color: #fff;
    background-color: #84A264;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.telNumber-update-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: 105px;
    height: 40px;
    color: #fff;
    background-color: #84A264;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}