#active-write-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1134px;
    margin: 0 auto;
    background-color: white;
}

#active-write-wrapper .navi {
    height: 90px;
}

#active-write-input-container {
    margin: 50px 0;
    width: 700px;
    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(25, 25, 25, 0.1);
    border-radius: 16px;

}

#active-write-wrapper .userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

#active-write-wrapper .userInfo-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#active-write-wrapper .userInfo-right {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    

}
#active-write-wrapper .userInfo-right .listButton{
    width: 90px;
    height: 30px;
    background-color: var(--gray-color);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

#active-write-wrapper .userInfo-right .listButton:hover {
    border: 1px solid var(--gray-color);
}

#active-write-wrapper .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/public/images/img.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;

}

#active-write-wrapper .userInfo-right .name{
    cursor: pointer;
}

#active-write-wrapper .input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#active-write-wrapper .input-box .input {
    border: 2px solid rgba(255, 255, 255, 1); 
    border-radius: 8px; /* 둥근 테두리 */
    padding: 8px 12px; /* 내부 여백 */
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
    transition: border-color 0.3s, box-shadow 0.3s; /* 부드러운 애니메이션 */
    font: inherit;
}

#active-write-wrapper .kakaomap .marker-info{
    min-width: 10px;
    color: rgb(0, 0, 0);
    width: 150px;
    text-align: center;
    font-size: 18px;
}

#active-write-wrapper .react-datepicker{
    width: auto;
    height: auto;
}

#active-write-wrapper .react-datepicker__day {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

#active-write-wrapper .react-datepicker__header {
    font-size: 28px;
}

#active-write-wrapper .react-datepicker__day-name {
    font-size: 16px;
}


#active-write-wrapper .date-picker-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

#active-write-wrapper  .react-datepicker {
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 2;
}

#active-write-wrapper .input-label {
    color: rgba(64, 64, 64, 1);
    font-size: 16px;
    font-weight: 700;
}

#active-write-wrapper .textarea {
    border: 2px solid rgba(255, 255, 255, 1); 
    border-radius: 8px; /* 둥근 테두리 */
    padding: 8px 12px; /* 내부 여백 */
    font-size: 14px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
    transition: border-color 0.3s, box-shadow 0.3s; /* 부드러운 애니메이션 */
    font: inherit;
}

.tagUser button {
    margin-left: '8px';
    color: 'red';
    cursor: 'pointer';
    border: 'none';
    background: 'none';
    font-weight: 'bold';
}

#active-write-wrapper .image.preview {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-image: url(/public/images/add_icon.png);

}

#active-write-wrapper .image {
    position: relative; 
}

#active-write-wrapper .deleteImageButton {
    position: absolute; 
    top: 5px; 
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%; 
    width: 30px; 
    height: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#active-write-wrapper .image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

#active-write-wrapper .image.uploaded {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

#active-write-wrapper .location {
    width: 100%;
    height: 300px;
}

#active-write-wrapper .bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: right;
    
}

#active-write-wrapper .bottom .button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    
    text-align: center;
    border-radius: 8px;

    font-size: 15px;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
}

#active-write-wrapper .bottom .primary:hover {
    background-color: var(--primary-10-color);
    color: var(--primary-color);
}
#active-write-wrapper .bottom .disable:hover {
    background-color: var(--dark-gray-color);
    color: rgba(255, 255, 255, 1);
}

#active-write-wrapper .mentions-input {
    border: 2px solid rgba(255, 255, 255, 1); 
    border-radius: 8px; 
    padding: 8px 12px; 
    font-size: 14px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
    color: rgb(132, 125, 125);
    font: inherit;
}

#active-write-wrapper .mentions-input textarea, 
#active-write-wrapper .mentions-input input {
  border: none !important; /* 기본 테두리 제거 */
  outline: none !important; /* 기본 포커스 테두리 제거 */
  background: transparent; /* 배경색 투명으로 설정 */
  align-content: center;
  font: inherit;
}
