/* 전체 레이아웃 */
#recruit-detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1134px;
    margin: 0 auto;
    background-color: white;

}

#recruit-detail-wrapper .navi {
    height: 90px;
}

#recruit-detail-wrapper .main {
    margin-top: 30px;


    width: 700px;

    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(25, 25, 25, 0.1);
    border-radius: 16px;
}

/* 상단 사용자 정보 및 게시글 옵션 */
#recruit-detail-wrapper .postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;

    padding: 10px;
}

#recruit-detail-wrapper .postTop .userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#recruit-detail-wrapper .postTop .userInfo-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#recruit-detail-wrapper .postTop .userInfo-right {
    display: flex;
    flex-direction: column;
}


#recruit-detail-wrapper .postTop .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/public/images/img.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;

}

#recruit-detail-wrapper .optionBox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/public/images/3point.png);
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

#recruit-detail-wrapper .postTop .postBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

#recruit-detail-wrapper .postTop .postBox .listButton {
    width: 65px;
    height: 30px;
    background-color: var(--gray-color);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

#recruit-detail-wrapper .postDetail {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#recruit-detail-wrapper .postTitle {
    border-bottom: 1px solid rgba(25, 25, 25, 0.3);
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
}

#recruit-detail-wrapper .postContents {
    border-bottom: 1px solid rgba(25, 25, 25, 0.3);
    min-height: 300px;
    padding: 0 15px 15px 15px;
    white-space: pre-wrap;
    word-wrap: break-word; /* 긴 단어가 잘리거나 줄바꿈이 될 수 있도록 처리 */
}

#recruit-detail-wrapper .postImage {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}



#recruit-detail-wrapper .kakaomap {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 360px;
}

#recruit-detail-wrapper .kakaomap .marker-info{
    min-width: 10px;
    color: rgb(0, 0, 0);
        width: 150px;
        text-align: center;
        font-size: 18px;
}


#recruit-detail-wrapper .postInfo {
    height: 50px;
    align-items: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.3);
    line-height: 175%;
}

#recruit-detail-wrapper .postInfo .left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#recruit-detail-wrapper .postInfo .left .isCompleted {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    text-align: center;

    /* width: 65px;
    height: 30px;
    background-color: var(--gray-color);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center; */
}
#recruit-detail-wrapper .postInfo .left .accession {
    /* width: 60px;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    border-radius: 8px;
    cursor: pointer; */

    cursor: pointer;
    width: 70px;
    
    text-align: center;
    border: 0.1px solid rgb(111, 103, 141);
    border-radius: 8px;

    font-size: 15px;
    color: rgb(21, 0, 95);
}

#recruit-detail-wrapper .postInfo .left .accession:hover {
    background-color: rgb(61, 53, 148);
    color: rgba(255, 255, 255, 1);
}

#recruit-detail-wrapper .postInfo .left .end{
    cursor: pointer;
    width: 70px;
    
    text-align: center;
    border: 0.1px solid rgba(221, 114, 114, 1);
    border-radius: 8px;

    font-size: 15px;
    color: rgba(255, 0, 0, 1);
}

#recruit-detail-wrapper .postInfo .left .end:hover {
    background-color: rgb(163, 62, 62);
    color: rgba(255, 255, 255, 1);
}

#recruit-detail-wrapper .postInfo .right {
    display: flex;
    flex-direction: row;
    gap: 10px
}

#recruit-detail-wrapper .postInfo .right .like {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-image: url(/public/images/empty-heart.png);
    background-position: 50% 50%;
    cursor: pointer;
}

#recruit-detail-wrapper .postInfo .right .like.liked {
    background-image: url(/public/images/full-heart.png);
}

#recruit-detail-wrapper .postInfo .right .scrap {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-image: url(/public/images/empty-scrap.png);
    background-position: 50% 50%;
    cursor: pointer;
}

#recruit-detail-wrapper .postInfo .right .scrap.scraped {
    background-image: url(/public/images/full-scrap.png);
}

/* 하단 정보 및 댓글 섹션 */
#recruit-detail-wrapper .postBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#recruit-detail-wrapper .postBottom .line {
    width: 100%;
    text-align: center;
}

#recruit-detail-wrapper .postBottom .comments {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#recruit-detail-wrapper .commentButton {
    background-color: #007bff;
    color: white;
    padding: 25px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#recruit-detail-wrapper .commentUserInfo {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* gap: 10px; */
    /* padding-bottom: 10px; */
    width: 100%;
    /* height: 70px; */
}

#recruit-detail-wrapper .tableCommentUserInfo{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    padding-bottom: 10px;
    
}

#recruit-detail-wrapper .tableCommentUserInfo  .recruitComment-Left{
    display: flex;
    flex-direction: column;
}
#recruit-detail-wrapper .tableCommentUserInfo .recruitComment-Left .recruitCommentCreatedAt{
    font-size: 12px;
}

#recruit-detail-wrapper .commentUserInfoWrite {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 13px; 
    background-color: #f9f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
#recruit-detail-wrapper .profileImage {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background-position: center;
    background-size: cover; 
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#recruit-detail-wrapper .commentInput {
    flex-grow: 1;
    border: 0;
    width: 100%;
    height: 80px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
    box-sizing: border-box;
    
    
}

#recruit-detail-wrapper .commentUserInfo-left {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}



#recruit-detail-wrapper .commentUserInfo-right {
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: center;
}
#recruit-detail-wrapper .commentUserInfo-right .viewCommentWrapper{
    width: 530px;
    
}
#recruit-detail-wrapper .commentUserInfo-right .editCommentWrapper{
    width: 530px;
    
}

#recruit-detail-wrapper .commentUserInfo-right .editCommentWrapper .editCommentContent{
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 90%;
    width: 100%; /* 가로 폭을 상위 div에 맞춤 */
    height: 100px; /* 기본 높이 설정 */
    line-height: 1.5; /* 줄 간격 */
    resize: none; /* 크기 조정 불가능하도록 설정 */
    background-color: white;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#recruit-detail-wrapper .commentUserInfo-right .editCommentWrapper button{
    cursor: pointer;
    width: 60px;
    height: 25px;
    /* padding: 8px 24px; */
    background-color: white;
    text-align: center;
    
    border-radius: 8px;

    font-size: 15px;
    
    justify-content: center;
    align-content: center;
    

}

#recruit-detail-wrapper .commentUserInfo-right .editCommentWrapper .save{
color: rgba(0, 95, 65, 1);
border: 0.1px solid rgb(103, 141, 129);
margin-right: 10px;
}

#recruit-detail-wrapper .commentUserInfo-right .editCommentWrapper .cancel{
color: rgb(95, 0, 0);
border: 0.1px solid rgb(141, 103, 103);
    
}

#recruit-detail-wrapper .recruitCommentContent{
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 90%;
    font-weight: 500;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);

    white-space: pre-wrap; /* 줄 바꿈을 유지하면서 줄이 길면 자동으로 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길면 자동으로 줄 바꿈 */
    overflow-wrap: break-word; /* 모든 브라우저에서 단어 단위로 줄 바꿈을 강제 */
    overflow: hidden; /* 넘치는 내용이 보이지 않도록 설정 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 줄임표로 표시 */
}

#recruit-detail-wrapper .recruitCommentWriter,
#recruit-detail-wrapper .recruitCommentCreatedAt {
    width: 70px;
    font-size: 14px;
}

#recruit-detail-wrapper .recruitCommentWriter {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

#recruit-detail-wrapper .bottom {
    padding: 15px;
    width: 100%;
}

#recruit-detail-wrapper .options {
    position: absolute;
    z-index: 9000;
    width: 80px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;

    overflow-y: auto;
}

#recruit-detail-wrapper .commentUserInfo-buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#recruit-detail-wrapper .commentUserInfo-buttons-blank {
    display: flex;
    margin-left: auto;
    width: 40px;
    height: 80px;
}



#recruit-detail-wrapper .editButton,
#recruit-detail-wrapper .deleteButton,
#recruit-detail-wrapper .reportButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#recruit-detail-wrapper .editButton {
    color: #729473;
    font-weight: 700;
    border: 1px solid #729473;
    background-color: white;
}

#recruit-detail-wrapper .deleteButton {
    color: #ff685e;
    font-weight: 700;
    border: 1px solid #ff685e;
    background-color: white;
}

#recruit-detail-wrapper .reportButton {
    color: #ff685e;
    font-weight: 700;
    border: 1px solid #ff685e;
    background-color: white;
}

#recruit-detail-wrapper .editButton:hover {
    color: white;
    font-weight: 700;
    border: 1px solid #729473;
    background-color: #729473;
}

#recruit-detail-wrapper .deleteButton:hover {
    color: white;
    font-weight: 700;
    border: 1px solid #ff685e;
    background-color: #ff685e;
}

#recruit-detail-wrapper .reportButton:hover {
    color: white;
    font-weight: 700;
    border: 1px solid #ff685e;
    background-color: #ff685e;
}

#recruit-detail-wrapper .report-modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 9999;
}

.report-content {
    display: flex;
}

#recruit-detail-wrapper .report-box {
    display: flex;
    flex-direction: column;
    position: relative;

    box-sizing: border-box;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 24px;
    width: 400px;
    height: 390px;
    gap: 20px;

    background-color: rgba(255, 255, 255, 1);
}

.report-top {
    display: flex;
    justify-content: space-between;
}

.report-top-title {
    flex: 1;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 9px;
    text-align: left;

    margin-top: 0px;
}

.report-main {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.report-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 222px;
    resize: none;
}

.report-input::placeholder {
    text-align: left;
    vertical-align: top;
    color: #000000;
}

.report-bottom {
    margin: 10px;
}

.report-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    gap: 30px;
}

.report-button {
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    margin: -20px 10px;
}

.report-write {
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: #4caf50;
    color: white;
}

.report-cancel {
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: #000000;
    color:white;
}