#find-password-wrapper {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1134px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.find-password-main {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 450px;

    align-content: center;
    justify-content: space-between;

    /* gap: 20px; */
    padding: 15px;

    border: 2px solpassword rgba(238, 238, 238, 1);
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 1);
}

.find-password-top {
    display: flex;
    width: 1;
    height: 50px;
    align-content: center;
    justify-content: center;
}

.find-password-title {
    flex: 1;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;

    text-align: center;
    
    margin-top: 10px;
    padding-left: 7px;
}

#find-password-wrapper .button-close {
    padding-top: 5px;
    padding-right: 7px;
}

.find-password-middle {
    display: flex;
    flex-direction: column;
    width: 1;
    height: 650px;
    align-content: center;
    justify-content: center;

}

.find-password-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 5px;
    height: 300px;
}

.find-password-box {
    width: 400px;
    height: 80px;
}

.find-tel,
.find-auth-tel {
    margin-bottom: 5px;
}

.find-input-name,
.find-input-tel {
    border: 1px solpassword #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 375px;


    height: 15px;
}

.find-input-box {
    display: flex;
    gap: 20px;
}

#find-password-wrapper .button-tel-auth {
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #84A264;
    color: white;
    font-size: 15px;
    cursor: pointer;

    width: 180px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-container-find {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 400px;
    height: 80px;
}

.button-find-password {
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #84A264;
    color: white;
    font-size: 15px;
    cursor: pointer;

    width: 100%;
}

#find-password-wrapper .button-tel-auth:hover,
.button-find-password:hover {
    background-color: #6b8f5c;
}

.error-message-find {
    font-size: 18px;
    height: 20px;
    color: rgba(255, 0, 0, 1);
}
.primary-message-find {
    font-size: 18px;
    height: 20px;
    color: rgba(0, 0, 0, 1);
}
