#adminpage-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

#adminpage-wrapper .adminpage {
    user-select: none;
    width: 1134px;
    height: 850px;
    margin: 0 auto;
    margin-top: 90px;

}

#adminpage-wrapper .adminpage-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#adminpage-wrapper .adminpage-top {
    display: flex;
    width: 1134px;
    height: 250px;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

#adminpage-wrapper .admin-profile-container {
    padding-top: 40px;
    display: flex;
    width: 600px;
    height: 200px;
    gap: 20px;
}

#adminpage-wrapper .profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/public/images/ploggerMin.png);
}

#adminpage-wrapper .profile-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    margin-left: 10px;

    align-content: center;
    justify-content: center;
    gap: 10px;
}

#adminpage-wrapper .profile-name-box {
    display: flex;
    gap: 10px;
}

#adminpage-wrapper .profile-name {
    font-size: 20px;
}

#adminpage-wrapper .profile-address {
    font-size: 15px;
}

#adminpage-wrapper .profile-comment-box {
    display: flex;
    margin-top: 30px;
    align-content: center;
}

#adminpage-wrapper .profile-comment-box .comment-input {
    width: 300px;
}

#adminpage-wrapper .comment-change {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url(/public/images/pen.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

#adminpage-wrapper .profile-comment {
    font-size: 18px;

    width: auto;
    max-width: 300px;

    height: 30px;
    max-height: 100px;

    overflow-wrap: break-word;
}

#adminpage-wrapper .score-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    gap: 0px
}

#adminpage-wrapper .bottom-box {
    display: flex;
    width: 320px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    gap: 20px
}

#adminpage-wrapper .gift-button {
    cursor: pointer;
    align-content: center;
    height: auto;
    width: 200px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;

    border-radius: 8px;
    border: 0.1px solid rgb(103, 141, 129);
    color: rgba(0, 95, 65, 1);
    background-color: white;
    overflow: auto;
}

#adminpage-wrapper .gift-button:hover {
    background-color: rgba(0, 95, 65, 1);
    color: rgba(255, 255, 255, 1);
}

#adminpage-wrapper .mileage-box {
    display: flex;
    align-content: center;
    justify-content: center;
}

#adminpage-wrapper .mileage-score {
    font-size: 20px;
}

#adminpage-wrapper .adminpage-middle {
    display: flex;
    width: 1134px;
    height: 50px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(180, 180, 180);
    border-bottom: 1px solid rgba(180, 180, 180);
}

#adminpage-wrapper .admin-recruit,
#adminpage-wrapper .admin-active,
#adminpage-wrapper .admin-user {
    text-align: center;
    flex: 1;
}

#adminpage-wrapper .my-point:hover {
    cursor: pointer;
    font-weight: 600;
    border-bottom: 2px solid rgba(180, 180, 180);
}

#adminpage-wrapper .my-point.active {
    font-weight: 600;
}

#adminpage-wrapper .adminpage-bottom {
    width: 1154px;
    height: 500px;
}

#adminpage-wrapper .table {
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    border-collapse: collapse;

    font-size: 14px;
}

#adminpage-wrapper .th {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid black;
}

#adminpage-wrapper .tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#adminpage-wrapper .td-report-reportid,
#adminpage-wrapper .td-report-writer,
#adminpage-wrapper .td-report-number,
#adminpage-wrapper .td-report-content,
#adminpage-wrapper .td-report-create-date,
#adminpage-wrapper .td-report-delete,
#adminpage-wrapper .td-active-reportid,
#adminpage-wrapper .td-active-writer,
#adminpage-wrapper .td-active-number,
#adminpage-wrapper .td-active-content,
#adminpage-wrapper .td-active-create-date,
#adminpage-wrapper .td-user-userId,
#adminpage-wrapper .td-user-address,
#adminpage-wrapper .td-user-name,
#adminpage-wrapper .td-user-TelNumber,
#adminpage-wrapper .td-user-score,
#adminpage-wrapper .td-user-mileage,
#adminpage-wrapper .td-user-joinpath,
#adminpage-wrapper .td-user-delete {
    padding: 10px 20px;
    font-size: 13px;
    margin: 7px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

#adminpage-wrapper .td-report-content,
#adminpage-wrapper .td-active-content {
    max-width: 400px;
}

#adminpage-wrapper .td-report-reportid {
    width: 50px;
}

#adminpage-wrapper .td-report-content,
#adminpage-wrapper .td-active-content {
    flex: 1;
    cursor: pointer;
}

#adminpage-wrapper .td-user-address {
    flex: 1;
}

#adminpage-wrapper .td-report-reportid,
#adminpage-wrapper .td-active-reportid {
    flex: 0.1;
}

#adminpage-wrapper .td-report-create-date,
#adminpage-wrapper .td-active-create-date {
    width: 120px;
    flex: 0.2;
    min-width: 110px;
}

#adminpage-wrapper .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    gap: 15px;
}

#adminpage-wrapper .pagination .active {
    color: black;

    font-weight: bold;
}

#adminpage-wrapper .td-report-writer,
#adminpage-wrapper .td-active-writer {
    flex: 0.15;
}

#adminpage-wrapper .td-report-number,
#adminpage-wrapper .td-active-number {
    flex: 0.1;
}

#adminpage-wrapper .td-report-delete {
    flex: 0.15;
}

#adminpage-wrapper .td-report-create-date,
#adminpage-wrapper .td-active-create-date {
    flex: 0.2;
}

#adminpage-wrapper .td-user-userId {
    flex: 0.3;
}

#adminpage-wrapper .td-user-address {
    flex: 1;
}

#adminpage-wrapper .report-message {
    font-size: 30px;
    text-align: center;
    color: gray;
    margin-top: 90px;
}