@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: rgba(0, 191, 122, 1);
    --primary-10-color: rgba(0, 191, 122, 0.1);
    --primary-20-color: rgba(0, 191, 122, 0.2);
    --error-color: rgba(255, 84, 64, 1);
    --gray-color: rgba(138, 146, 166, 1);
    --dark-gray-color: rgba(64, 64, 64, 1);
    --default-color: rgba(35, 45, 66, 1);
}

body {
    margin: 0px;
    font-family: 'Pretendard', sans-serif;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

#main-wrapper .navigation {
    width: 100%;
    height: 90px;
    text-align: center;
}

#main-wrapper .video-section {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 800px;
    overflow: hidden;
}

#main-wrapper .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

#main-wrapper .video-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#main-wrapper .button-previous,
#main-wrapper .button-next {

    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
}

#main-wrapper .title-box {
    display: flex;
    flex-direction: column;

    height: 520px;
    align-content: center;
    justify-content: center;

    margin-top: 50px;
}

#main-wrapper .title-section {
    text-align: center;
    top: 45%;
    width: 100%;
    color: white;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bold;
}

#main-wrapper .button-section {
    width: 100%;
    top: 70%;
    display: flex;
    gap: 15px;
    justify-content: center;

    margin-top: 80px;
}

#main-wrapper .main-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    height: 40px;

    text-align: center;

    font-size: 20px;
}

#main-wrapper .button-main {
    cursor: pointer;
    width: 80px;
    height: 45px;
    
    text-align: center;

    border-radius: 8px;
    background-color: #84A264;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-content: center;

}

#main-wrapper .button-main:hover {
    background-color: #6b8f5c;
}

#button-section .button-left {
    background-color: rgba(255, 255, 255, 1);
    border: 0.5px solid #D9D9D9;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 700px;
    flex-grow: 1;
    max-width: 450px;
}

#button-section .button-right {
    background-color: #84A264;
    border: 0.5px solid #D9D9D9;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex-grow: 0;
    width: 90px;
}

#first-content-wrapper {
    user-select: none;
    width: 1134px;
    height: 700px;
    margin-top: 70px;
}

#first-content-wrapper .main-text {
    opacity: 0;

    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

#first-content-wrapper .main-text.visible {
    opacity: 1;
    transform: translateY(0);
}

#first-content-wrapper .text-question {
    font-size: 70px;
    font-weight: 600;
    transition-delay: 0.2s;
}

#first-content-wrapper .text-sweden {
    margin-top: 70px;
    margin-left: 200px;
    font-size: 30px;
    font-weight: 700;
    transition-delay: 2.4s;
}

#first-content-wrapper .text-description {
    font-size: 105px;
    transition-delay: 2.8s;
}

#first-content-wrapper .text-interpretation {
    font-size: 80px;
    transition-delay: 3.2s;
}

#first-content-wrapper .text-point {
    color: rgba(0, 95, 65, 1);
    font-weight: 700;
}

#first-content-wrapper .text-question,
#first-content-wrapper .text-sweden,
#first-content-wrapper .text-description,
#first-content-wrapper .text-interpretation {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

#second-content-wrapper {
    user-select: none;
    width: 100%;
    height: 900px;
    justify-items: center;
    background-color: rgba(150, 180, 150, 1);
}

#second-content-wrapper .second-container {
    width: 1134px;
    height: 900px;
    justify-items: center;
    align-content: center;
}

#second-content-wrapper .main-box {
    
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    gap: 70px;
}

#second-content-wrapper .text-box {
    font-size: 85px;
    color: rgba(255, 255, 255, 1);
}

#second-content-wrapper .text-point {
    font-weight: 700;
    border-bottom: 6px solid rgb(87, 116, 105);
    border-radius: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transition-delay: 0.7s;
}

#second-content-wrapper .text-point.visible {
    opacity: 1;
    transform: translateY(0);
}

#second-content-wrapper .description-box {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    gap: 10px
}

#second-content-wrapper .environment-box,
#second-content-wrapper .health-box {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    
    min-width: 300px;
    gap: 20px;

    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-size: 24px;
    transition: flex 0.5s ease; 
}

#second-content-wrapper .environment-box {
    background-image: url(/public/images/환경.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

#second-content-wrapper .health-box {
    background-image: url(/public/images/건강.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

#second-content-wrapper .environment-box::before,
#second-content-wrapper .health-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 16px;
}

#second-content-wrapper .environment-box:hover::before,
#second-content-wrapper .health-box:hover::before {
    opacity: 1;
}

#second-content-wrapper .environment-box:hover, 
#second-content-wrapper .health-box:hover {
    flex: 2;
}

#second-content-wrapper .environment-box:hover ~ .health-box,
#second-content-wrapper .health-box:hover ~ .environment-box {
    flex: 0.5;
}

#second-content-wrapper .text-title {
    font-size: 60px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2
}

#second-content-wrapper .test-content {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2
}

#third-content-wrapper {
    user-select: none;
    width: 100%;
    height: 1200px;
    justify-items: center;
    align-content: center;
}

#third-content-wrapper .third-container {
    width: 1134px;
    height: 900px;
    justify-items: center;
    align-content: center;
    margin-bottom: 250px;
}

#third-content-wrapper .main-box {
    width: 1100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#third-content-wrapper .main-top {
    width: 1100px;
    height: 120px;
    align-items: center;
    justify-items: center;

}

#third-content-wrapper .top-text {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

#third-content-wrapper .main-middle {
    display: flex;
    width: 1100px;
    height: 900px;
    gap: 50px;
}

#third-content-wrapper .main-left {
    margin-top: 80px;
}

#third-content-wrapper .main-right {
    width: 600px;

}

#third-content-wrapper .location-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#third-content-wrapper  .location-title {
    font-size: 50px;
    font-weight: 600;
    margin-left: 40px;
    border-bottom: 5px solid rgba(9, 22, 17, 0.2);
}

#third-content-wrapper .point-word {
    color: rgb(200, 110, 110);
    font-size: 60px;
    text-shadow: 0.5px 0.5px 3px rgb(197, 70, 70);
}

#third-content-wrapper .Busan,
#third-content-wrapper .Daegu,
#third-content-wrapper .Daejeon,
#third-content-wrapper .Gangwon,
#third-content-wrapper .Gwangju,
#third-content-wrapper .Gyeonggi,
#third-content-wrapper .Incheon,
#third-content-wrapper .Jeju,
#third-content-wrapper .North-Chungcheong,
#third-content-wrapper .North-Gyeongsang,
#third-content-wrapper .North-Jeolla,
#third-content-wrapper .Sejong,
#third-content-wrapper .Seoul,
#third-content-wrapper .South-Chungcheong,
#third-content-wrapper .South-Gyeongsang,
#third-content-wrapper .South-Jeolla,
#third-content-wrapper .Ulsan{
    fill: #fff6f6;
    stroke: none;
    stroke: #a79a9a;
    stroke-width: 1;
    cursor: pointer;
}

#third-content-wrapper .Busan:hover,
#third-content-wrapper .Daegu:hover,
#third-content-wrapper .Daejeon:hover,
#third-content-wrapper .Gangwon:hover,
#third-content-wrapper .Gwangju:hover,
#third-content-wrapper .Gyeonggi:hover,
#third-content-wrapper .Incheon:hover,
#third-content-wrapper .Jeju:hover,
#third-content-wrapper .North-Chungcheong:hover,
#third-content-wrapper .North-Gyeongsang:hover,
#third-content-wrapper .North-Jeolla:hover,
#third-content-wrapper .Sejong:hover,
#third-content-wrapper .Seoul:hover,
#third-content-wrapper .South-Chungcheong:hover,
#third-content-wrapper .South-Gyeongsang:hover,
#third-content-wrapper .South-Jeolla:hover,
#third-content-wrapper .Ulsan:hover{
    fill: #e2aea7;
}

#fourth-content-wrapper {
    user-select: none;
    width: 100%;
    height: 1200px;
    justify-items: center;
    align-content: center;
    background-color: rgba(150, 180, 150, 1);
}

#fourth-content-wrapper .fourth-container {
    width: 1134px;
    height: 700px;
    justify-items: center;
    align-items: center;
    margin-bottom: 250px;
}

#fourth-content-wrapper .main-container {
    display: flex;
    flex-direction: column;
    width: 1134px;
    height: 900px;
    align-items: center;
    justify-items: center;
}

#fourth-content-wrapper .top-text {
    width: 1100px;
    height: 150px;

    font-size: 70px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

#fourth-content-wrapper .main-middle {
    width: 1000px;
    height: 750px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}