@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: rgba(0, 191, 122, 1);
    --primary-10-color: rgba(0, 191, 122, 0.1);
    --primary-20-color: rgba(0, 191, 122, 0.2);
    --error-color: rgba(255, 84, 64, 1);
    --gray-color: rgba(138, 146, 166, 1);
    --dark-gray-color: rgba(64, 64, 64, 1);
    --default-color: rgba(35, 45, 66, 1);
}

body {
    margin: 0px;
    font-family: 'Pretendard', sans-serif;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

#main-wrapper .navigation {
    width: 100%;
    height: 90px;
    text-align: center;
}

#main-wrapper .video-section {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 900px;
    overflow: hidden;
}

#main-wrapper .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

#main-wrapper .video-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#main-wrapper .button-previous,
#main-wrapper .button-next {

    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
}

#main-wrapper .title-box {
    display: flex;
    flex-direction: column;

    height: 520px;
    align-content: center;
    justify-content: center;

    margin-top: 50px;
}

#main-wrapper .title-section {
    text-align: center;
    top: 45%;
    width: 100%;
    color: white;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bold;
}

#main-wrapper .button-section {
    width: 100%;
    top: 70%;
    display: flex;
    gap: 15px;
    justify-content: center;
    /* 버튼들을 가운데 정렬 */

    margin-top: 80px;
}

#main-wrapper .main-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    height: 40px;

    text-align: center;

    font-size: 20px;
}

#main-wrapper .button-main {
    cursor: pointer;
    width: 80px;
    height: 45px;
    
    text-align: center;

    border-radius: 8px;
    background-color: #84A264;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-content: center;

}

#main-wrapper .button-main:hover {
    background-color: #6b8f5c;
}

#button-section .button-left {
    background-color: rgba(255, 255, 255, 1);
    border: 0.5px solid #D9D9D9;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 700px;
    flex-grow: 1;
    max-width: 450px;
    /* 왼쪽 버튼의 최대 너비 설정 */
}

#button-section .button-right {
    background-color: #84A264;
    border: 0.5px solid #D9D9D9;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex-grow: 0;
    width: 90px;
}

#content-wrapper {
    display: flex;
    flex-direction: row;
    /* 각 wrapper들을 수평으로 정렬 */
    width: 1134px;
    min-height: 300px;
    padding: 20px 0;
    gap: 20px;
}