#recruit-update-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1134px;
    margin: 0 auto;
    background-color: white;
}

#recruit-update-wrapper .navi {
    height: 90px;
}

#recruit-update-input-container {
    margin: 50px 0;
    width: 700px;
    display: flex;
    flex-direction: column;

    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(25, 25, 25, 0.1);
    border-radius: 16px;

}

/* 상단 사용자 정보 및 게시글 옵션 */
#recruit-update-wrapper .postTop {
    display: flex;
    height: 56.25px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

#recruit-update-wrapper .userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

#recruit-update-wrapper .userInfo-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


#recruit-update-wrapper .userInfo-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    


}
#recruit-update-wrapper .postTop .postBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#recruit-update-wrapper .postTop .postBox .listButton {
    width: 90px;
    height: 30px;
    background-color: rgba(156, 153, 153, 0.2);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}


#recruit-update-wrapper .postTop .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}


#recruit-update-wrapper .userInfo-right .name {
    cursor: pointer;
}

#recruit-update-wrapper .input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#recruit-update-wrapper .input-box .input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 1;
}

#recruit-update-wrapper .kakaomap .marker-info{
    min-width: 10px;
    color: rgb(0, 0, 0);
        width: 150px;
        text-align: center;
        font-size: 18px;
}

#recruit-update-wrapper .react-datepicker {
    width: auto;
    height: auto;
}

#recruit-update-wrapper .react-datepicker__day {
    width: 30px;
    /* 각 날짜 셀의 너비 */
    height: 30px;
    /* 각 날짜 셀의 높이 */
    font-size: 16px;
}

#recruit-update-wrapper .react-datepicker__header {
    font-size: 28px;
    /* 달력 헤더(월, 년도) 폰트 크기 조정 */
}

#recruit-update-wrapper .react-datepicker__day-name {
    font-size: 16px;
    /* 요일 헤더(월, 화 등) 폰트 크기 조정 */
}


#recruit-update-wrapper .date-picker-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

#recruit-update-wrapper .react-datepicker {
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 2;
}

#recruit-update-wrapper .input-label {
    color: rgba(64, 64, 64, 1);
    font-size: 16px;
    font-weight: 700;
    
}

#recruit-update-wrapper .textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    resize: none;
}


#recruit-update-wrapper .image.preview {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-image: url(/public/images/add_icon.png);

}

/* #recruit-update-wrapper .input-box .previewImage {
    width: 50px;
    height: 50px;
    background-image: url(/public/images/add_icon.png);
} */


#recruit-update-wrapper .image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

#recruit-update-wrapper .image.uploaded {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

#recruit-update-wrapper .bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: right;
}

#recruit-update-wrapper .bottom .button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    
    text-align: center;
    border-radius: 8px;

    font-size: 15px;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
}
#recruit-update-wrapper .button-update {
    cursor: pointer;
    width: 100px;
    min-width: 70px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
    color: rgba(0, 95, 65, 1);
    border: 0.1px solid rgb(103, 141, 129);
}

#recruit-update-wrapper .button-update:hover {
    background-color: rgba(0, 95, 65, 1);
    color: rgba(255, 255, 255, 1);
}

#recruit-update-wrapper .button-cancle {
    cursor: pointer;
    width: 100px;
    min-width: 70px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
    color: rgb(255, 0, 0);
    border: 0.1px solid rgba(221, 114, 114, 0.8);
}

#recruit-update-wrapper .button-cancle:hover {
    background-color: #da3e3e;
    color: rgba(255, 255, 255, 1);
}
